---
layout: default
---

{% for post in site.posts limit:3 %}
  %article.post
    %header
      %h2= {{ post.title }}
      %p= {{ site.time | date_to_long_string }}

    %div
      {{ post.content }}

{% endfor %}
